.top-wrapper {
  font-family: consolas;
  width: 1170px;
  padding: 0 15px;
}
.container {
  float: right;
  font-size: 15px;
  height: 5px;
  padding: 180px 50px 100px 0;
  text-align: center;
  color: #636e72;
}
p {
  margin: 0 auto;
}
.heading {
  padding-top: 120px;
  padding-bottom: 40px;
  font-weight: normal;
}
.btn {
  padding: 10px 20px;
  color: #2d3436;
  display: inline-block;
  opacity: 0.8;
  border-radius: 20px;
}
.btn:hover {
  opacity: 1;
}
.message {
  padding: 10px 20px;
  background-color: #fab1a0;
  cursor: pointer;
  box-shadow: 0 7px #ee5253;
}
.heading h3 {
  font-weight: bold;
}
.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
